<div class="container" style="padding: 30px">


  <div class="row text-center" style="padding: 30px">

    <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7 col-xxs-13">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="src/assets/img/math.jpg" alt="Math">
        <div class="card-body">
          <h5 class="card-title">Math</h5>
          <p class="card-text">Study core math concepts like trignomentry,linear algebra,statistics,probability and more!</p>
          <a class="btn btn-dark card-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
           Study
          </a>
          <a routerLink="/options" class="btn btn-dark card-link">Take a test</a>

        </div>
        <div class="collapse" id="collapseExample">
          <ul class="list-group list-group-flush">
              <li class="list-group-item"><a class="text-dark" routerLink="/topic">Topic 1</a></li>
              <li class="list-group-item"><a class="text-dark" routerLink="/topic">Topic 2</a></li>
              <li class="list-group-item"><a class="text-dark" routerLink="/topic">Topic 3</a></li>
          </ul>
        </div>
        
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7 col-xxs-13">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="src/assets/img/science.png" alt="Math">
        <div class="card-body">
          <h5 class="card-title">Science</h5>
          <p class="card-text">Study interesting scientific concepts and test ur knowledge by taking tests</p>
         
          <a class="btn btn-dark card-link" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
            Study
           </a>
          <a routerLink="/options" class="btn btn-dark card-link">Take a test</a>
        </div>
        <div class="collapse" id="collapseExample2">
          <ul class="list-group list-group-flush">
              <li class="list-group-item"><a class="text-dark" routerLink="/topic">Topic 1</a></li>
              <li class="list-group-item"><a class="text-dark" routerLink="/topic">Topic 2</a></li>
              <li class="list-group-item"><a class="text-dark" routerLink="/topic">Topic 3</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7 col-xxs-13">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="src/assets/img/history.jpg" alt="Math">
          <div class="card-body">
            <h5 class="card-title">History</h5>
            <p class="card-text">Read interesting stories about important historical figures and the dates of when it all went down! </p>
         
            <a class="btn btn-dark card-link" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
              Study
             </a>
            <a routerLink="/options" class="btn btn-dark card-link">Take a test</a>
          </div>
          <div class="collapse" id="collapseExample3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a class="text-dark" routerLink="/topic">Topic 1</a></li>
              <li class="list-group-item"><a class="text-dark" routerLink="/topic">Topic 2</a></li>
              <li class="list-group-item"><a class="text-dark" routerLink="/topic">Topic 3</a></li>
            </ul>
          </div>
        </div>
       
      </div>

  </div>


  <div class="row text-center" style="padding: 30px">
    
      <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7 col-xxs-13">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="src/assets/img/geography.jpg" alt="Math">
          <div class="card-body">
            <h5 class="card-title">Geograhy</h5>
            <p class="card-text">Observe the effects of the terrain,sky and everything around you which together form the environment!</p>
  
          
            <a class="btn btn-dark card-link" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
              Study
             </a>
            <a routerLink="/options" class="btn btn-dark card-link">Take a test</a>
          </div>
          <div class="collapse" id="collapseExample4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a class="text-dark" routerLink="/topic">Topic 1</a></li>
                <li class="list-group-item"><a class="text-dark" routerLink="/topic">Topic 2</a></li>
                <li class="list-group-item"><a class="text-dark" routerLink="/topic">Topic 3</a></li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7 col-xxs-13">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="src/assets/img/english.jpg" alt="Math">
          <div class="card-body">
            <h5 class="card-title">English</h5>
            <p class="card-text">Hone your communication skills in the most widely spoken language on earth by taking our intuitive tests </p>
          
            <a class="btn btn-dark card-link" data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample">
              Study
             </a>
            <a routerLink="/options" class="btn btn-dark card-link">Take a test</a>
          </div>
          <div class="collapse" id="collapseExample5">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a class="text-dark" routerLink="/topic">Topic 1</a></li>
                <li class="list-group-item"><a class="text-dark" routerLink="/topic">Topic 2</a></li>
                <li class="list-group-item"><a class="text-dark" routerLink="/topic">Topic 3</a></li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7 col-xxs-13">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="src/assets/img/computerScience.jpg" alt="Math">
            <div class="card-body">
              <h5 class="card-title">Computer science</h5>
              <p class="card-text">learn the inner workings of the different technologies we use so often everyday .</p>
           
              <a class="btn btn-dark card-link" data-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample">
                Study
               </a>
          <a routerLink="/options" class="btn btn-dark card-link">Take a test</a>
            </div>
            <div class="collapse" id="collapseExample6">
              <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a class="text-dark" routerLink="/topic">Topic 1</a></li>
                  <li class="list-group-item"><a class="text-dark" routerLink="/topic">Topic 2</a></li>
                  <li class="list-group-item"><a class="text-dark" routerLink="/topic">Topic 3</a></li>
              </ul>
            </div>
          </div>
          
        </div>
        
    </div>



</div>


