<div id ="section2">

<div class="container-fluid bg-light text-dark" >

        <div class="container" style="padding : 1%">
        <div class="row">
          <div class="col-lg-12">
              <img src="../assets/img/4-5.jpg" alt="Image" class="img-responsive">
                <h2>About Us</h2>
                <hr>
                <p class="tm-box-p">This Online Examination Portal is an expertise service provided by us which is a fast,
                  accurate, efficient,
                  human-error-free, fully-automated online exam. It is conducted for Professional Courses, Competitive Exams,
                  Campus Recruitment, Government Recruitment etc. We aim to provide users with a more efficient, user-friendly
                  website with better functionality for the numerous students who prepare for various examinations every year.
                </p>
                <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
      
