<app-header></app-header>
<div class="container-fluid" style = "padding : 5% ">
  <div class="row card-deck">
    <div class="side col-md-2 card">
    <h2 class="card-header">QUESTIONS</h2>
    <hr>
    <div class="questionbox">
    <a href="#"><button type="button" class="btn btn-secondary">1</button></a>
    <a href="#"><button type="button" class="btn btn-secondary">2</button></a>
    <a href="#"><button type="button" class="btn btn-secondary">3</button></a><br><br>
    <a href="#"><button type="button" class="btn btn-secondary">4</button></a>
    <a href="#"><button type="button" class="btn btn-secondary">5</button></a>
    <a href="#"><button type="button" class="btn btn-secondary">6</button></a><br><br>
    <a href="#"><button type="button" class="btn btn-secondary">7</button></a>
    <a href="#"><button type="button" class="btn btn-secondary">8</button></a>
    <a href="#"><button type="button" class="btn btn-secondary">9</button></a><br><br>
    <a href="#"><button type="button" class="btn btn-secondary">10</button></a>
    <a href="#"><button type="button" class="btn btn-secondary">11</button></a>
    <a href="#"><button type="button" class="btn btn-secondary">12</button></a><br><br>
    <a href="#"><button type="button" class="btn btn-secondary">13</button></a>
    <a href="#"><button type="button" class="btn btn-secondary">14</button></a>
    <a href="#"><button type="button" class="btn btn-secondary">15</button></a>
    </div>
    </div>
    <div class="main col-md-10 card text-black">
    <h2 class="card-header">QUESTION #</h2>
    <hr>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <br><br>
    <div class="radio">
      <label><input type="radio" name="answer"/> Option 1</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="answer"> Option 2</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="answer"> Option 3</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="answer"> Option 4</label>
    </div>
    <br><br>
    <a href="#"><button type="button" class="btn btn-secondary text-center">Next</button></a>
    </div>
    </div>
</div>
<app-footer></app-footer>